
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins';
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body{
    background-color: #2a2f35;
    color: #e7e3e3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

a {
    text-decoration: none;
    font-style: italic;
    color:inherit;
    font-weight: bolder;
    cursor:pointer;
}

a:hover{
    color: initial;
    transition: color .2s ease-in;
}

#header{
    background-image: url("images/Firma_de_Charles_Chaplin.svg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    height: 50vh;
    color: white;

}

.title {
    font-family: 'philosopher',sans-serif;
    font-size:84px;
    text-transform: uppercase;  
    
}
 
.subtitle{
    font-family: 'Montserrat',sans-serif;
    font-size: 42px;
    text-align: center;
    opacity: .7;

}

/**content-styles**/

section{
    height: 110vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding:  3rem;
    font-size: 18px ;  
}

section .content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    column-gap: 5%;
    padding: 2rem 0;
    
}

section .content p {
    text-indent: 2rem;
    width: 70%;
    font-family: 'Exo',sans-serif;
    line-height: 1.5em;
    text-align: justify;
    align-self: center;
    margin-bottom: 3rem;
}

.ref {
    height: 2rem ;
}



section .content figure {
    width: 30%;
    font-size: 14px;
    opacity: .7;
    display:grid;
    row-gap: 1rem;
    align-items: center;
    justify-items: center;
}

section h2{
    font-size: 56px;
}
 

#about .content{
    flex-direction: row;
}

#mid .content p {
    margin-top: 4rem;
    padding-right: 2rem;
}

#mid figure  {
    width: 50%;
    align-content: center;
}

figure img {
    width: 95%;
    border-radius: 5%;
}

#mid figure figcaption {
    margin-top: 2px;
}

#mid {
    
    display: flex;
    align-items: center;
}
 

#bottom img{

    border-radius: 60px;
    object-position: center;
    display: block;
    width: 80%;
    margin:auto;
}


hr {
    width: 90%;
    margin: 4rem 1rem 1rem 3.5rem;

}

footer {
    text-align: center;
    padding: 3px;
}
 
@media (max-width:1240px){
    html{
        scroll-behavior: smooth;
        scroll-snap-type: y proximity;
    }
    #header{
        height:auto;
        padding:3rem 0;
    }
    .title{
        font-size: 60px;
        text-align: center;
    }
    .subtitle{
        font-size: 30px;
    }
    
    body section{
        height: auto;
        padding: 3rem 4rem;
        flex-direction: row-reverse;
    }

    body section h2{
        font-size: 48px;
        padding-left: 2rem;
    }
    body section .content {
        padding: 1rem;
        margin-left: 2rem;
        font-size: 18px;
        line-height: 1.3em;
    }
    section .content figure{
        width: 40%;
        opacity: .9;
        font-size: 14px;
        text-align: center;
    } 
    
    #mid figure{
        width: 50%;
    }
    
    #mid figure figcaption{
        margin-top: 8px;
    }
    #bottom {
        align-items: center;
        padding: auto 0%;
    }
    #bottom img{

        border-radius: 40px;
        object-position: center;
        align-content: center;
        display: block;
        width: 85%;
        margin-left: auto;
        margin-bottom: 2%;
    }
    hr{
        display: flex;
        align-content: center;
        margin:5rem 1.5rem .5rem 3.5rem
         
    }
    footer{
        padding: 3px;
        text-align: center;
        margin-block-end: -4%;
    }
}

@media (max-width:786px){
    .title{
        font-size: 48px;
        text-align: center;
    }
    .subtitle{
        font-size: 24px;
    }
    body section{
        height: auto;
        padding: 1rem;
    }
    body section h2{
        font-size: 40px;
        margin-bottom: 2rem;
    }
    body section .content{
        padding: 0;
        line-height: 1.2em;
    }
    body section .content p{
        font-size: 15px;
    }
    #about .content{
        flex-direction: column;
        align-items: center;
    }

    #about figure img{
        width: 80%;

    }
    #about figure figcaption{
        margin-bottom: 2rem;
        margin-top: 2px;
    }
    #mid .content{
        flex-direction: column;
        align-items: center;
    }
    #bottom{
        align-items: center;
        font-size: small;
    }
    hr{
        align-items: center;
    }


}
